<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
</head>
<body>
    <h1 id="h1">Add Course</h1>
    {% if form.errors %}
        <p style="color: #ff0000;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'add/add_table.css' %}" />
        <table id="table" border ="2">
            {{ form.as_table }}
        </table>
        <input id="post" type="submit" value="Submit" >
    </form>
</body>
</html>